MONGODB_URI=mongodb+srv://rhynoxtechnologies_db_user:F6QgBSmMIwhA11jH@codo-ai.qrqbhgt.mongodb.net/
MONGODB_DB_NAME=codo-ai

JWT_SECRET=supersecretchangeit
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://051llbnr-5173.inc1.devtunnels.ms,https://051llbnr-8000.inc1.devtunnels.ms

# Google API
GOOGLE_API_KEY=AIzaSyBytZzM9-V3DQn_Ipw8rGAm517DodTmSJY

# AWS Configuration
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=AKIAWUAB27WJ5G2C7SQT
AWS_SECRET_ACCESS_KEY=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
AWS_LAMBDA_FUNCTION_NAME=python-code-executor